In [1]:
import pandas as pd

# Başlangıç

In [3]:
numbers = [0,1,2,3,4,5,6,7,8,9]

numpy_array = pd.Series(numbers)
print(numpy_array)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [5]:
pandas_series = pd.Series(numbers, index=['a','b','c','d','e','f','g','h','i','j'])
pandas_series

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [6]:
numbers_dictionary = {'a':0,'b':1,'c':2,'d':3,'e':4,'f':5,'g':6,'h':7,'i':8,'j':9}
pandas_series = pd.Series(numbers_dictionary)
pandas_series

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [7]:
pandas_series.sum()

45

In [8]:
pandas_series.mean() # ortalamasını verir

4.5

In [9]:
pandas_series + pandas_series # toplama işlemi yapar

a     0
b     2
c     4
d     6
e     8
f    10
g    12
h    14
i    16
j    18
dtype: int64

In [12]:
pandas_series * pandas_series # çarpma işlemi yapar

a     0
b     1
c     4
d     9
e    16
f    25
g    36
h    49
i    64
j    81
dtype: int64

In [13]:
pandas_series[pandas_series > 5] # 5 ten büyük olanları getirir

g    6
h    7
i    8
j    9
dtype: int64

# DataFrame
DataFrame’leri farklı tipteki sütunlara ve satırlara sahip bir SQL tablosu olarak düşünebiliriz. DataFrame’ler veriyi daha kolay işleyebilmemizi sağlar.

In [23]:
import pandas as pd

# Serileri doğru bir şekilde oluşturma
sayi1 = pd.Series([1.1, 2.2, 3.3, 4.4])
sayi2 = pd.Series(['a', 'b', 'c', 'd', 'e'])


data4 = {'first': sayi1, 'second': sayi2} # sözlük oluşturma
df2 = pd.DataFrame(data4) # DataFrame oluşturma
df2

   first second
0    1.1      a
1    2.2      b
2    3.3      c
3    4.4      d
4    NaN      e

In [24]:
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}

df3 = pd.DataFrame(data) # DataFrame oluşturma
df3

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

### index belirterek oluşturmak

In [26]:
df4 = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David']) # DataFrame oluşturma
df4

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

### set_index()
set_index() işlevini herhangi bir zamanda herhangi bir sütun kullanarak herhangi bir DataFrame üzerinde kullanabiliriz.

In [29]:
df = pd.DataFrame({
    'ay': [1,4,7,10],
    'yıl': [2012, 2014, 2013, 2014],
    'satış': [55, 40, 84, 31]
})

df

   ay   yıl  satış
0   1  2012     55
1   4  2014     40
2   7  2013     84
3  10  2014     31

In [30]:
df = df.set_index('ay') # ay kolonunu index olarak belirleme
df

     yıl  satış
ay
1   2012     55
4   2014     40
7   2013     84
10  2014     31

In [38]:
import pandas as pd

# İlk DataFrame
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# İkinci DataFrame
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

# df2'yi df1'e ekleyin
result_df = df1.append(df2)

# Sonuç DataFrame'in boyutunu göster
print("Sonuç DataFrame'in boyutu:", result_df.shape)

AttributeError: 'DataFrame' object has no attribute 'append'

In [39]:
print(df1.columns) # kolonları gösterir

Index(['A', 'B'], dtype='object')

In [41]:
df1.columns = ['m',"n"] # kolon isimlerini değiştirir
df1

   m  n
0  1  4
1  2  5
2  3  6

# veri seçme işlemleri

In [44]:
dataframe = pd.read_csv('googleplaystore.csv') # csv dosyasını okuma
dataframe = pd.read_csv('googleplaystore.csv', nrows=10) # ilk 10 satırı okuma
dataframe = pd.read_csv('googleplaystore.csv', sheet_name='googleplaystore') # sheet_name ile sheet seçme


dataframe

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up